* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #ededed;
}

li {
  list-style: none;
}

.portfolio__filter {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}

.filter__item {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}

.filter__item:hover {
  background-color: rgb(143, 142, 142);
}

.portfolio__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio__list__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  max-width: 200px;
  max-height: 400px;
}
